<!DOCTYPE html>
<html>
    <head>
    <title>New Director</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <% stylesheet_link_tag 'application', media: 'all', 'data-turbo-links-track-': 'reload' %>
    <link rel = "stylesheets"
        type = "text/css"
        href = "../assets/stylesheets/application.css" />

        <h2>Pending Friend Requests</h2>
        <hr class="hr2">
        <%if @director.inbound_pending_requests.empty? %>
            <p>You have no pending requests</p>
        <% else %>
            <div class="person_search"><% @director.inbound_pending_requests.each do |friend| %>
            <div class="card" style="width: 18rem;">
                    <img src="<%=friend.friender.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%= link_to "#{friend.friender.name}", director_path(friend.friender) %></h5>
                    <p class="card-text"><%= form_with model: friend, url: friends_path, method: :patch, local: true do |f| %>
                        <%= f.hidden_field :id, :value => friend.id %>
                        <%= f.hidden_field :status, :value => 'accepted' %>
                        <%= f.submit "Accept"%>
                    <% end %></p>
                    </div>
                    </div>
            <% end %></div>
        <% end %>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>