<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
        <h1>Make Your Movie</h1>

        <% if @movie.errors.any? %>
            <ul>
                <% @movie.errors.full_messages.each do |error| %>
                <li><%= error %></li>
                <% end %>
            </ul>
        <% end %>
        <h5>
        <%= form_with model: @movie, url: movies_path, local: true, method: :post do |form| %>

            <%= form.label :name, "Movie Name:" %>
            <%= form.text_field :name, size: 35%><br><br>
            <%= form.label :release_year, "Planned Release Year: "%>
            <%= form.select :release_year, (Time.zone.now.year.to_i)..(Time.zone.now.year + 100).to_i %><br><br>
            <%= form.label :synopsis, "Synopsis: "%>
            <div><%= form.text_area :synopsis, cols: 50, rows: 10%></div><br>
            <%= form.label :production_company, "Production Company" %>
            <%= form.text_field :production_company %><br><br>
            <%= form.label :language_id %>
            <%= form.select :language_id, Language.all.map{|l| [l.name, l.id]} %><br><br>
            <%= form.submit "Create Movie" %>

        <% end %>
        </h5>
    </body>
</html>