<h1>Search For Talent</h1>

<%= form_with url: crew_members_path, local: true, method: 'get' do |f| %> 
    <%= f.label "Search" %>
    <%= f.text_field :search%>
    <%= f.select :category, options_for_select(["Actors", "Writers"]) %>
    <%= f.submit "Search" %>
<% end %>

<% if params[:search] %>
    <% if params[:category] == "Actors" %>
        <% results_array = Api.get_actors_by_name(params[:search]) %>
    <% elsif params[:category] == "Writers" %>
        <% results_array = Api.get_writers_by_name(params[:search]) %>
    <%end%>
<% end %>

<ul>
<% if params[:category] == "Actors" || params[:category] == "Writers" %>  
    <% results_array.each_with_index do |result, index| %>
       <li> 
       <%= form_with url: crew_member_path(result["id"]), method: :get, local: :true do |f| %>
            <%= f.hidden_field :id, :value => result["id"] %>
            <%= f.submit result["name"]%> 
       <% end %>
       </li>
    <% end %>
<% end%>    
</ul>

