<h1>Casting Roles</h1>

<h3> <%="#{@crew_member.crew_member_type}: " %> </h3>
<h3><%=@crew_member.name %></h3>

<% director = Director.find(session[:user]["id"]) %>
<% movies = director.movies %>
<% movie_ids = movies.map {|movie| movie.id} %>
<% movie_names = movies.map {|movie| movie.name} %>


<%=form_with model: @role, local: true do |f| %>
    <%=f.hidden_field :crew_member_id, :value => @crew_member.id %>
    <%=f.label :movie_id, 'Movie: ' %>
    <%=f.collection_select(:movie_id, director.movies, :id, :name) %> <br><br>
    <%=f.label :wage, "Wage (USD): " %>
    <%=f.number_field :wage %><br><br>
    <%=f.label :hire_date, "Hire Date: " %>
    <%=f.date_field :hire_date %><br><br>
    <%=f.label :name, "Name of Role: " %>
    <%=f.text_field :name %><br><br>
    <%=f.label :featured, "Featured Crew Member?" %>
    <%= f.check_box :featured %><br><br>
    <%=f.submit "Hire" %>
<% end %>
