<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
        <h1><%= "#{@movie.name} Projects" %></h1>

        <div class="simple-calendar">
        <%= month_calendar attribute: :start_date, end_attribute: :end_date, events: @movie.projects do |date, projects| %>
            <%= date.day %>
            <% unless projects.empty? %>
                <% projects.each do |project| %>
                <div>
                    <%= link_to "#{project.name}", project_path(project) %>
                </div>
                <% end %>
            <% end %>
        <% end %></div>
        <br><hr class="hr2">
        <div class="post">

        <% if @movie.projects.any? %>
            <% if @movie.director_ids.include?(session[:user]["id"]) %>
                <%= button_to "Add a Project", new_project_path(@movie), method: :get %><br>
            <% end %>
            <% @movie.projects.each do |project| %>
                <div><h3><%= link_to "#{project.name}", project_path(project) %></h3>
                <p>Status: <%= project.status %> Start: <%= project.start_date %> Finish: <%= project.end_date %></p>
                <hr class="hr3"></div>
            <% end %>
        <% end %>

        <div class="flex-container">
            <% if @movie.projects.empty? %>
                <% if @movie.director_ids.include?(session[:user]["id"]) %>
                Projects are a great way to keep track of the stuff you need to get done for your movie, from buying props to filming scenes.<br>
                <%= button_to "Add a New Project Now!", new_project_path(@movie) %>
                <% end %></p>
            <% end %>
        </div>
    </body>
</html>
