<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>       
        <h1>New Project</h1>
        <br>
        <% if @project.errors.any? %>
            <ul>
            <% @project.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %> </ul>
        <% end %>

        <div class="flex-container">
        <%= form_with model: @project, url: projects_path, local: :true, method: :post do |form| %>
            <%= form.hidden_field :movie_id, :value => @movie.id %>
            <%= form.hidden_field :amount_spent, :value => 0 %>
            <%= form.label :name, 'Task: ' %>
            <%= form.text_field :name %><br><br>
            <div><%= form.label :description, 'Description: ' %><br>
            <%= form.text_area :description, cols: 35, rows: 7 %></div><br>
            <%= form.label :start_date, 'Start : ' %>
            <%= form.date_field :start_date %><br><br>
            <%= form.label :end_date, 'Finish by: ' %>
            <%= form.date_field :end_date %><br><br>
            <%= form.label :budget, 'Budget (USD):' %>
            <%= form.number_field :budget, step: 1, :value => 0 %><br><br>
            <%= form.submit "Add Crew" %>
        <% end %>
        </div>
    </body>
</html>
