<h1>New Project</h1>

<% if @project.errors.any? %>
    <ul>
    <% @project.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %> </ul>
<% end %>

<%= form_with model: @project, url: projects_path, local: :true, method: :post do |form| %>
    <%= form.hidden_field :movie_id, :value => @movie.id %>
    <%= form.label :name, 'Task: ' %>
    <%= form.text_field :name %><br><br>
    <div><%= form.label :description, 'Description: ' %><br>
    <%= form.text_area :description, cols: 35, rows: 7 %></div><br>
    <%= form.label :start_date, 'Start : ' %>
    <%= form.date_field :start_date %><br><br>
    <%= form.label :end_date, 'Finish by: ' %>
    <%= form.date_field :end_date %><br><br>
    <%= form.label :budget, 'Budget (USD):' %>
    <%= form.number_field :budget, step: 10, :value => 0 %><br><br>
    <%= form.submit "Add Crew" %>
<% end %>