<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>        
        <br><br>
        <div class="post">
        <h2><%="#{@director.name}'s Posts"%></h2>
        <% if @director.id == session["user"]["id"] %>
            <%= link_to "New Post", new_post_path%><br>
        <% end %>
        <hr class="hr">
        <% if @director.posts.any? %>
            <% @director.posts.each do |post| %>
                <div><h4><%= link_to "#{post.title}", post_path(post) %></h4>
                <p>Created at: <%= post.created_at.asctime[0..15] %>
                    <%if post.movie_id%>
                        <%= " | #{post.movie.name}"%>
                    <% end %> </p>
                <p><%=post.short_body%></p>
                <hr class="hr3"></div>
            <% end %>
        <% else %>
            <p>This director has no posts.
        <% end %>
        </div>
  </body>
</html>
