 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>       
        <br><br>
        <div class="post"><h3><%= @post.title %></h3>
        </h4>
        <% if @post.movie_id %>
            <%= link_to "#{@post.movie.name}", movie_path(@post.movie) %>
            | By:
            <%= link_to "#{@post.director.name}", director_path(@post.director) %>
            <%= "| Created #{@post.created_at.asctime[0..15]}" %>
        <% else %>
            <%= "By: #{@post.director} | Created #{@post.created_at.asctime[0..15]}" %>
        <% end %>
        </h4>
        <br><hr class="hr">
        <p>
        <%= simple_format(@post.body) %>
        </p>
        <p><%= link_to "More by #{@post.director.name}", director_posts_path(@post.director)%></p>
        </div>
    </body>
</html>
